/** Add css rules here for your application. */

.treenode {
	color: #FDFDFD;
	padding: 8px 20px 8px 0px;
	margin: 5px 0px 5px 40px;
	background-color: #333333;
}

.treenode .unspecified{
	background-color: #4C796F;
	}
	
#text{
	background-color: #000000;
	color: #FFFFFF;
	}
	
	
/**
	http://code.google.com/p/google-web-toolkit/source/browse/trunk/user/src/com/google/gwt/user/cellview/client/CellBrowser.css?r=9050
*/

.abstractCell{
  font-size: 20px;
}

.cellBrowserEvenItem {
  padding: 12px;
  margin: 20px;
}

.cellBrowserOddItem {
  padding: 12px;
  margin: 20px;
}
	